.cartitems{
    margin: 80px 100px;
}

.cartitems hr{
    height: 0.2vw;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 5vw;
    padding: 1.8vw 0px;
    color: #454545;
    font-size: 20px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 16px;
    font-weight: 500;
}

.carticon-product-icon{
    width: 7vw;
}

.cartitems-remove-icon{
    width: 14px;
    margin: 0px 30px;
    cursor: pointer;
}

.cartitems-quantity{
    font-size: 14px;
    width: 5vw;
    height: 4vw;
    border: 0.3vw solid #ebebeb;
    background: #fff;
}

.cartitems-down{
    display: flex;
    margin: 8vw 0px;
}

.cartitems-total{
    flex: 2;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    gap: 1vw;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 1.3vw 0px;
}

.cartitems-total button{
    width: 275px;
    height: 70px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode{
    /* flex: 1; */
    font-size: 13px;
    font-weight: 500;
}

.cartitem-promocode p{
    color: #555;
}

.cartitem-promobox{
    width: 500px;
    margin-top: 13px;
    padding-left: 15px;
    height: 70px;
    background: #eaeaea;
}

.cartitem-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    width: 375px;
    height: 62px;
}

.cartitem-promobox button{
    width: 120px;
    height: 68px;
    font-size: 20px;
    color: white;
    background: black;
    cursor: pointer;
}

@media(max-width:1280px){
    .cartitems{
        margin: 60px 50px;
    }
    .cartitems-format-main{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0px;
        font-size: 12px;
    }
    /* .carticon-product-icon{
        height: 50px;
    } */
    .cartitems-remove-icon{
        margin: auto;
    }
    .cartitems-quantity{
        width: 40px;
        height: 30px;
    }
    .cartitems-down{
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
    }
    .cartitems-total{
        margin: 0px;
    }
    .cartitems-total button{
        max-width: 200px;
        height: 65px;
        font-size: 13px;
    }
    .cartitem-promobox{
        width: auto;
        max-width: 500px;
    }
    .cartitem-promobox input{
        width: 100%;
    }
    .cartitem-promobox button{
        width: 120px;
        margin-left: -125px;
    }
}

@media(max-width:500px){
    .cartitems-format-main{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }
    .cartitems-format{
        display: grid;
    }
}