.hero{
    /* height: 100vh; */
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    padding-left: 5vw;
    line-height: 1.1;
    width: 50vw;
}

.hero-left h2{
    color: #090909;
    font-size: 2.5vw;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: 6vw;
    font-weight: 700;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.hero-hand-icon img{
    width: 10vw;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    width: 40vw;
    height: 9vw;
    border-radius: 25px;
    margin-top: 4vw;
    background: #ff4141;
    color: white;
    font-size: 3.2vw;
    font-weight: 500;
}

.hero-latest-btn img{
    width: 4vw;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.hero-right img{
    width: 44vw;
}