.productdisplay{
    display: flex;
    margin: 0px 10vw;
}

.productdisplay-left{
    display: flex;
    gap: 1.5vw; 
}

.display-img-list{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.display-img-list img{
    height: 10vw;

}

.productdiplay-main-img{
    /* width: 56vw; */
    height: 44.5vw;
}

.productdisplay-right{
    margin: 0px 5vw;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 2vw;
    font-weight: 700;
}

.productdispaly-right-star{
    display: flex;
    align-items: center;
    margin-top: 0.5vw;
    gap: 0.1vw;
    color: #1c1c1c;
    font-size: 1vw;
}

.productdispaly-right-star img{
    width: 1vw;
}

.productdisplay-right-prices{
    display: flex;
    margin: 1vw 0px;
    gap: 1.5vw;
    font-size: 2vw;
    font-weight: 700;
}

.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new{
    color: black;
}

.productdisplay-right-size h1{
    /* margin-top: 4vw; */
    color: #656565;
    font-size: 2vw;
    font-weight: 600;
}

.productdisplay-right-sizes{
    display: flex;
    margin: 1vw 0px;
    gap: 1vw;
}

.productdisplay-right-sizes div{
    padding: 1vw 2vw;
    font-size: 1vw;
    background: #fbfbfb;
    border: 0.1vw solid #ebebeb;
    border-radius: 0.2vw;
    cursor: pointer;
}

.productdisplay-right button{
    padding: 2vw 4vw;
    width: 18vw;
    font-size: 1.2vw;
    font-weight: 600;
    color: white;
    background: #ff4141;
    /* margin-bottom: 3vw; */
    border: none;
    outline: none;
    cursor: pointer;
}

.productdisplay-right-category{
    margin-top: 1vw;
    font-size: 1vw;
}

.productdisplay-right-category span{
    font-weight: 600;
}

.productdisplay-right-description{
    font-size: 0.8vw;
}

.decriptionbox-description{
    font-size: 1vw;
}

@media(max-width:1280px){
    .productdisplay{
        margin: 0px 60px;
    }
    .productdisplay-left{
        gap: 10px;
    }
    .display-img-list{
        gap: 10px;
    }
    .display-img-list img{
        height: 120px;
    }
    .productdiplay-main-img{
        width: auto;
        height: 510px;
    }
    .productdisplay-right{
        margin: 0px 30px;
    }
    .productdisplay-right h1{
        font-size: 22px;
    }
    .productdispaly-right-star{
        gap: 3px;
        font-size: 13px;
    }
    .productdisplay-right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }
    .productdisplay-right-description{
        font-size: 13px;
    }
    .productdisplay-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .productdisplay-right-sizes div{
        padding: 12px 20px;
    }
    .productdisplay-right button{
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px;
    }
    .productdisplay-right-category{
        margin-top: 5px;
        font-size: 14px;
    }
}

@media(max-width:1024px){
    .productdisplay{
        margin: 0px 30px;
    }
    .productdisplay-left{
        gap: 5px;
    }
    .display-img-list img{
        height: 80px;
    }
    .productdiplay-main-img{
        height: 350px;
    }
    .productdisplay-right h1{
        font-size: 18px;
    }
    .productdispaly-right-star img{
        width: 15px;
    }
    .productdisplay-right-description{
        font-size: 12px;
    }
    .productdisplay-right-sizes{
        margin: 10px 0px;
    }
    .productdisplay-right-sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }
    .productdisplay-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .productdisplay-right-category{
        font-size: 12px;
    }
}

@media(max-width:800px){
    .productdisplay{
        margin: 0px 10px;
    }
    .productdisplay-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items:center ;
    }
    .display-img-list{
        flex-direction: row;
        gap: 6px;
    }
    .display-img-list img{
        height: 70px;
    }
    .productdiplay-main-img{
        height: 300px;
    }
    .productdisplay-right h1{
        font-size: 14px;
    }
    .productdispaly-right-star img{
        width: 13px;
    }
    .productdisplay-right-description{
        font-size: 10px;
    }
    .productdisplay-right-size h1{
        margin-top: 10px;
    }
    .productdisplay-right-sizes{
        margin-top: 10px ;
        gap: 5px;
    }
    .productdisplay-right-sizes div{
        padding: 4px 11px;
    }
    .productdisplay-right button{
        width: 100px;
        font-size: 12px;
    }
    .productdisplay-right-category{
        font-size: 10px;
    }
}

@media(max-width:500px){
    .productdisplay{
        flex-direction: column;
    }
    .productdisplay-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .display-img-list{
        flex-direction: column;
        gap: 8px;
    }
    .display-img-list img{
        height: 75px;
    }
    .productdiplay-main-img{
        height: 330px;
    }
    .productdisplay-right{
        margin: 5px;
    }
    .productdisplay-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .productdispaly-right-star img{
        width: 15px;
    }
    .productdisplay-right-sizes{
        gap: 10px;
        margin: 20px 0px;
    }
    .productdisplay-right-sizes div{
        padding: 10px 16px;
        font-size: 14px;
    }
    .productdisplay-right button{
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
    }
    .productdisplay-right-category{
        font-size: 16px;
    }
}