.breadcrum{
    display: flex;
    align-items: center;
    gap: 30px;
    color: #5e5e5e;
    font-size: 1vw;
    font-weight: 600;
    margin: 1vw 10vw;
    text-transform: capitalize;
}

.breadcrum img{
    width: 0.5vw;
}