.popular{
    display: flex;
    margin-bottom: 8vw;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    /* height: 90vh; */
}

.popular h1{
    color: #171717;
    font-size: 7vw;
    font-weight: 600;
}

.popular hr{
    width: 35vw;
    height: 1vw;
    border-radius: 6px;
    background: #252525;
}

.popular-item{
    margin-top: 5vw;
    display: flex;
    gap: 4vw;
}